# Python
*.pyc
*.pyo
__pycache__/

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de configuraciones del entorno
*.env

# Archivos de compilación de Python
*.egg-info/
dist/
build/
*.egg

# Archivos de editor
.idea/
.vscode/
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Dependencias instaladas
pip-wheel-metadata/
